<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NAWA"
        tools:targetApi="31">
        <activity
            android:name=".activity.signUp.NicknameSignUpActivity"
            android:exported="true"/>
        <activity
            android:name=".activity.signUp.InitSignUpActivity"
            android:exported="true"/>
        <activity android:name=".activity.ClubListActivity"
            android:exported="true"/>
        <activity android:name=".activity.ClubDetailActivity"
            android:exported="true" />
        <activity android:name=".activity.LoginActivity"
            android:exported="true" />
        <activity android:name=".activity.MyPageActivity"
            android:exported="true"/>
        <activity android:name=".activity.MyProfileActivity"
            android:exported="true"/>
        <activity android:name=".activity.NoticeListActivity"
            android:exported="true"/>
        <activity android:name=".activity.NoticeDetailActivity"
            android:exported="true"/>
        <activity android:name=".activity.CreateClubActivity"
            android:exported="true"/>
        <activity android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>